@import url('https://fonts.googleapis.com/css2? family= Brygada+1918:wght@500 & family= Leckerli+One & family= Sarala & display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Oswald;
    background-image: url(https://media.gettyimages.com/id/1297349747/photo/hot-air-balloons-flying-over-the-botan-canyon-in-turkey.jpg?s=612x612&w=gi&k=20&c=Uo_yzYm9UJu6GpKilOLGrCbiSjyMB5DsvZTYpybYxj4=);
    background-repeat: no-repeat;
    background-size: 100%;
   }

.contatos{
    display: flex;
    height: 40px;
    width: 100px;
    margin: auto;
    margin-top: 20px;
}
.contato-logo{
    position: relative;
    top: 10px;
    left: 0;
    text-align: left;
    padding: 10px;
    width: 150px;
    height: 94px;
    background-color:rgb(124, 96, 238, 0.2);
    gap: 10px;
}
.enviar{
    width: 10px;
    height: 30px;
    background-color: aqua;
}